<?xml version="1.0"?>
<configuration>
   
    <connectionStrings>
        <add name="PM2._5_Project.Properties.Settings.ConfigConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Config.accdb;Persist Security Info=True" providerName="System.Data.OleDb"/>
         
    </connectionStrings>


<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
